body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.header-container, .content-container, .footer-container {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header, section, footer {
    background-color: #007BFF;
    color: #fff;
}

h1, h2 {
    color: #ff8c00;
}

p {
    line-height: 1.6;
    color: #555;
}

.discord-embed {
    text-align: center;
    margin-top: 20px;
}

iframe {
    width: 100%;
    max-width: 350px;
    height: 400px;
}
